:host ::ng-deep .p-dialog {
    width: max-content !important;
} 

:host ::ng-deep .p-dropdown {
    width: 100%;
}

.separate {
    display: block;
    width: 10px;
    background-color: white;
    height: 100%;
    margin-inline: 10px;
}

.car-type-icon {
    font-size: 1.3rem;
}

.card-id {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}