@import "variables";

.modal-container{
    position: fixed;
    background-color:rgba(0, 0, 0, .4);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-container{
        position: relative;
        width: 90%;
        background-color: $white;
        padding:2em;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        box-shadow: 4px 3px 23px 0px rgba(0,0,0,0.75);

        .icon-close-container{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            font-weight: bold;
            color: $contentB;
            &:hover{
                cursor: pointer;
            }
        }

        .icon-check-container{
            width: 100%;
            display: flex;
            justify-content: center;

            .checkIcon{
                width: 80px;
                height: 80px;
                font-size: 80px;
                font-weight: 400;
                color: $accentE;
            }
        } 

        .title{
            text-align: center;
            font-size: 26px;
            color: $contentB;
        }

        .message-container{

            width: 100%;

            .message{
                text-align: center;
                font-size: 14px;
                color: $darkGray6;
            }
        }

        .radio-container{
            .field-radiobutton{
                .radio-label{
                    color: black;
                }
            }
            .text-area-container{
                width: 100%;

                .text-area-element{
                    background-color: none;
                    background: none;
                    resize: none;
                    width: 100%;
                    min-height: 100px;
                    max-height: 200px;
                    height: auto;
                    color: black;
                    text-align: left;
                    padding: .5px;
                    text-indent: 0;
                    &:focus-visible {
                        outline: none;
                    }
                }
            }
        }


        .buttons-container{
            display: flex;
            justify-content: space-evenly;
            column-gap: 10px;

            .button{
                width: 120px;
                border-radius: 5px;
                outline: none;
            }

            .yes{
                background-color: $accentE;
                color: $white;
            }
        }

        .third-action-container{
            width: 100%;
            display: flex;
            justify-content: center;
            
            .button{
                width: 300px;
            }
        }
    }
}

.confirm-container{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(100, 99, 99, 0.9);
    width: 100% !important;
    height: 100% !important;

    display: flex;
    align-items: center;
    justify-content: center;

    .confirm-modal{
        width: 80%;
        background-color: rgba(0, 0, 0, .9);
        border-radius: 10px;
        min-height: 150px;
        display: flex;
        justify-content: space-evenly;
        column-gap: 10px;
        align-items: center;
        flex-wrap: wrap;
        .title{
            width: 100%;
            text-align: center;
            font-size: 26px;
            color: #fff !important;
            margin: 0;
        }
        .button{
            width: 120px;
            border-radius: 5px;
            outline: none;
            max-height: 40px;
        }
        .yes{
            background-color: $accentE;
            color: $white;
        }
    }




}

// Styles Desktop
@media only screen and (min-width: $desktop) {
    .modal-container{
        .card-container{
            max-width: 400px;
        }
    }
}