<span class="mb-2 font-semibold title-page-element">Create Custom Code</span>

<section class="container">
    <div class="inputs-container">
        <!-- Code -->
        <div class="input-container">
            <span class="p-float-label width-elements">
                <input
                    class="input-element"
                    pInputText
                    maxlength="100"
                    #title
                    [(ngModel)]="inputCustomCode"

                    id="title">
                <label #labelTitle class="label-text" for="title">
                    Custom Code
                </label>
            </span>
        </div>
    </div>

    <div class="inputs-container">
        <!-- Reward -->
        <div class="input-container">
            <label class="p-mb-3">Reward</label>
            <div class="p-formgrid p-grid" >
                <div class="p-field-radiobutton p-col-6 elements-container" >
                    <div class="data-element" *ngFor="let reward  of rewards">
                        <p-radioButton id={{reward.value}} name="reward_type" value={{reward.value}} [(ngModel)]="inputRewardID"></p-radioButton>
                        <label class="label-padding" for={{reward.value}}>{{reward.amount | currency:'USD':'symbol':'1.0-2' }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<button pButton pRipple type="button" label="Send" class="p-button-info button-send" (click)="createCustomCode()" ></button>