@import "variables";

.container {
    padding-bottom: 10px;

    .inputs-container {
        margin-top: 30px;

        .input-container {
            display:flex;
            
            .width-elements {
                width: 100%;
                .input-element {
                    width: 50%;
                }
            }

            .elements-container {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .data-element {
                    .label-padding {
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

.button-send{
    width: 100%;
}