
<p-tabView (onChange)="changeTabPanel($event)">

    <p-tabPanel header="Earn" [selected]="true" >
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="createItemDialog('EARN')"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton pRipple label="Save" *ngIf="isReOrderEarn" icon="pi pi-save" class="p-button-info p-mr-2" (click)="saveReOrder('EARN')"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt
                *ngIf="earnItems.length"
                [value]="earnItems"
                [rows]="5"
                [paginator]="false"
                [(selection)]="earnSelectedItem"
                [rowHover]="true"
                dataKey="uuid"
                styleClass="p-datatable-projects"
                [showCurrentPageReport]="false"
                [reorderableColumns]="true"
                (onRowReorder)="sortTable('EARN')"
            >

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:3rem"></th>
                        <th>Title</th>
                        <th>Link</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-item let-index="rowIndex">
                    <tr [pReorderableRow]="index">
                        <td><span class="pi pi-bars" pReorderableRowHandle></span></td>
                        <td>{{item.title}}</td>
                        <td>{{item.link}}</td>
                        <td>
                            <img style="width: 50px;" [src]="item.image">

                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editItemDialog(item)" style="margin-right: 0.5em;"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteItem(item,'EARN')"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Spend">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="createItemDialog('SPEND')"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton pRipple label="Save" *ngIf="isReOrderSpend" icon="pi pi-save" class="p-button-info p-mr-2" (click)="saveReOrder('SPEND')"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt
                [value]="spendItems"
                [rows]="5"
                [paginator]="false"
                [(selection)]="earnSelectedItem"
                [rowHover]="true"
                dataKey="uuid"
                styleClass="p-datatable-projects"
                [showCurrentPageReport]="false"
                [reorderableColumns]="true"
                (onRowReorder)="sortTable('SPEND')"
            >

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:3rem"></th>
                        <th>Title</th>
                        <th>Link</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-item let-index="rowIndex">
                    <tr [pReorderableRow]="index">
                        <td><span class="pi pi-bars" pReorderableRowHandle></span></td>
                        <td>{{item.title}}</td>
                        <td>{{item.link}}</td>
                        <td><img style="width: 50px;" [src]="item.image"></td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" style="margin-right: 0.5em;" (click)="editItemDialog(item)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteItem(item,'SPEND')"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabPanel>
</p-tabView>

<p-dialog [(visible)]="activateDialog" [style]="{width: '450px'}" header="Invest Item" [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="title">Title</label>
            <input type="text" pInputText id="title" [(ngModel)]="titleValue" (ngModelChange)="editingDialogEvent()" required />
            <!-- <small class="p-invalid" *ngIf="!titleValue">{{'ADMIN.INVEST_SCREEN.DIALOG.REQUIRED' | translate}}</small> -->
        </div>

        <div class="p-field">
            <label for="link">Link</label>
            <input type="text" pInputText id="link" [(ngModel)]="linkValue" (ngModelChange)="editingDialogEvent()" required />
            <!-- <small class="p-invalid" *ngIf="!linkValue">{{'ADMIN.INVEST_SCREEN.DIALOG.REQUIRED' | translate}}</small> -->
        </div>

        <div class="image-dialog-container">
            <img *ngIf="isEdition && !newImageSelected" [src]="imageUrl" style="width: 100px;">
        </div>

        <mdk-file-upload
            [fileType]="fileType"
            [selectedCategory]="selectedCategory"
            [videoTipsTitle]="infoTitle" 
            [videoTipsMessages]="infoMessages"
            [uploadingResource]="uploadingImage"
            [showTips]="true" 
            [multiple]="false"
            [maxFileInput]="350000000"
            [showTips]="false"
            (outputFile)="checkUpload($event)"
            (outputFileEmpty)="removeResourceForm()">
        </mdk-file-upload>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()" [disabled]="disabledSaveButton" >

        </button>
    </ng-template>
</p-dialog>


