@import "variables";

@media only screen and (min-width: $desktop) {
    .container {
        .inputs-container {
            .input-container {
                .width-elements {
                    max-width: 700px;
                }

                .p-field-radiobutton {
                    margin-bottom: 10px;
                }

                .elements-container {    
                    display: flex;
                    flex-direction: row;
                    .data-element {
                        .label-padding {
                            padding-left: 10px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    .button-send{
        max-width: 700px;
        margin-top: 20px;
    }
}