<mdk-check-permissions-by-email [emails]="emails">
    <form class="grid formgrid form-container" [formGroup]="formTransferToUser" (ngSubmit)="submit()">
        <div class="col-12 mb-5">
            <label for="float-input">Transfer to </label>
            <p-selectButton [options]="stateOptions" formControlName="transferTo" />
        </div>

        <div class="col-12 mb-5 lg:col-3 lg:mb-0">
            <span class="p-input-icon-left p-input-icon-right p-float-label">
                <i class="pi pi-user"></i>
                <input type="text" formControlName="userId" pInputText #title id="userId" class="width100 input-element" />
                <i class="pi pi-search"></i>
                <label for="float-input">Modak ID</label>
            </span>
        </div>
        <div class="col-12 mb-5 lg:col-3 lg:mb-0">
            <span class="p-input-icon-left p-input-icon-right p-float-label">
                <i class="pi pi-dollar"></i>
                <input type="number" formControlName="amount" pInputText #title id="amount"
                    class="width100 input-element" />
                <i class="pi pi-search"></i>
                <label for="float-input">Amount</label>
            </span>
        </div>
        <div class="col-12 mb-5 lg:col-3 lg:mb-0">
            <span class="p-input-icon-left p-input-icon-right p-float-label">
                <p-dropdown
                    formControlName="description"
                    [options]="descriptionOptions"
                    placeholder="Description">
                </p-dropdown>
                <label for="float-input">Description</label>
            </span>
        </div>

        <div class="col-12 mt-5 lg:col-12 lg:mb-0 mt-2 button-container">
            <div class="flex flex-wrap gap-2">
                <button class="button-element" type="submit" [disabled]="formTransferToUser.invalid" pButton pRipple
                    label="Transfer"></button>
            </div>
        </div>
    </form>
    <div class="mt-3"></div>
    <p-chip class="cursor-pointer" *ngIf="transferId" (click)="onCopy()" icon="pi pi-copy"
        label="Transfer ID: {{ transferId }}"></p-chip>
</mdk-check-permissions-by-email>