<mdk-check-permissions-by-email [emails]="emails">
    <div class="card card-search">
        <form class="grid formgrid form-container" [formGroup]="formDeleteCard" (ngSubmit)="searchCards()">
            <!-- Modak ID -->
            <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                <span class="p-input-icon-left p-input-icon-right p-float-label">
                    <i class="pi pi-user"></i>
                    <input type="text" formControlName="modakUserId" pInputText #title id="modakId"
                        class="width100 input-element" />
                    <i class="pi pi-search"></i>
                    <label for="float-input">Modak ID</label>
                </span>
            </div>
            <div class="col-12 mb-2 lg:col-12 lg:mb-0 mt-2 button-container">
                <div class="flex flex-wrap gap-2">
                    <button class="button-element" type="submit" [disabled]="formDeleteCard.invalid" pButton pRipple
                        label="List cards"></button>
                </div>
            </div>
        </form>
    </div>
    <p-card header="Card ID" *ngFor="let cardId of listCardsIds" [style]="{ maxWidth: '400px' }">
        <div class="flex flex-wrap justify-content-between p-2 align-items-center gap-3">
            <div (click)="copy(cardId)" class="cursor-pointer">
                <p-tag [value]="cardId" class="select-none"></p-tag>
            </div>
            <button pButton pRipple icon="pi pi-trash" (click)="deleteCard(cardId)" class="p-button-rounded p-button-warning"></button>
        </div>
    </p-card>
    
    <p-confirmDialog #cd key="positionDialog" rejectButtonStyleClass="p-button-outlined">
    </p-confirmDialog>
</mdk-check-permissions-by-email>

